/* footer */
footer {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 10px 0;
}
footer p {
  margin: 5px 20px;
}
