/* header */
nav {
  background-color: #1a1a1a;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
}
/* Name */
nav h2 {
  color: white;
}
/* nav links (div) */
.nav-Links {
  display: flex;
  gap: 25px;
}
/* Links (a) */
nav a {
  display: flex;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
/* active */
.nav-Links a:active {
  color: #00aaff;
}

/* Media Queries */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .nav-Links {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .nav-Links a {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #333;
  }
}
