.home {
  font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
  height: 70vh;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 600px;
}

.hero-btn {
  padding: 12px 25px;
  border: none;
  background: white;
  color: #4e54c8;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.7s;
}

.hero-btn .cta-btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Features Section */
.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 60px 20px;
  background-color: #f4f4f4;
}

.feature-link {
  text-decoration: none;
  color: inherit;
}

/* Feature Card */
.feature-card {
  background-color: #ffffff;
  padding: 25px;
  width: 260px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover effect */
.feature-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Card heading */
.feature-card h3 {
  margin-bottom: 10px;
  color: #023e8a;
}

/* Card text */
.feature-card p {
  color: #555;
  line-height: 1.5;
}

/* Call to Action */
.cta {
  padding: 60px 20px;
  text-align: center;
}

.cta h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #ffffff;
}

.cta p {
  color: #ffffff;
}

.cta-btn {
  padding: 10px 20px;
  color: #4e54c8;
  background: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.7s;
}

@media (max-width: 499px) {
  .hero h1 {
    font-size: 33px;
  }
  .hero p {
    font-size: 16px;
  }
  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feature-card {
    font-size: 17px;
  }
}

@media (min-width: 500px) and (max-width: 850px) {
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .feature-card {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    font-size: 17px;
  }
}
